$one-color:#e63946 			/* red */
$two-color:#f1faee			/* cream */
$three-color: #a8dadc		/* light blue */
$four-color:#457b9d			/* medium blue */
$five-color:#1d3557			/* dark blue */
$font-one: 'Prompt', sans-serif
$font-two: 'Montserrat', sans-serif

body
	background-color: $three-color
	font-family: $font-one

h1
	font-weight: bold
	color: $one-color
	margin-bottom: 5px
h3
	font-family: $font-two

#teamRegister
	background-color: $one-color
	font-color: white
